[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
koinly = {editable = true, path = "."}

[dev-packages]
pre-commit = "~=3.8"
pytest = "*"

[requires]
python_version = "3.12"
